= render 'city', :city => @city1
= render 'city', :city => @city2

%h3{:style => 'color:green'}
  - if @city1.sentiment > @city2.sentiment
    = "#{@city1.city} is clearly happier at this moment!"
  - elsif @city1.sentiment < @city2.sentiment
    = "#{@city2.city} has got it goin' on!"
  - else
    = "It's a tie. How boring."

= link_to "Wow! Compare Again!", root_url